<div class="d-flex justify-content-between flex-column vh-100">

<header>

    <div class="container-fluid">

        <div class="row align-items-center">

            <nav class="navbar">

                <!-- <div class="col d-flex justify-content-start ms-3">
                    <a href="#" class="me-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="me-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="me-2"><i class="fab fa-youtube"></i></a>
                </div> -->

                <div class="col d-flex justify-content-center">
                    <a class="navbar-brand d-flex align-items-center" [routerLink]="'/home'">
                        <h3>Turisme Sostenible</h3>
                        <!-- <img class="ms-2" src="assets/img/logo7.webp" alt="Sustainable Tourism" width="60"> -->
                    </a>
                    
                </div>

                <!-- <div class="col d-flex justify-content-end me-3">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item">
                            <a class="nav-link cust-nav-link py-0" href="#">Registra't</a>
                        </li>
                        <div class="slash mx-2 my-auto">//</div>
                        <li class="nav-item">
                            <a class="nav-link cust-nav-link py-0" href="#">Iniciar sessió</a>
                        </li>
                    </ul>
                </div> -->

            </nav>

        </div>
<!-- 
        <div class="row">

            <nav class="navbar cust-navbar justify-content-center">

                <ul class="navbar-nav flex-row">
                    <li class="nav-item pe-4 cust-nav-item" [routerLinkActive]="['active-border-bottom']"
                        [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link py-0 ms-3" [routerLink]="['/home']" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">HOME</a>
                    </li>
                    <li class="nav-item cust-nav-item" [routerLinkActive]="['active-border-bottom']"
                        [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link py-0 ms-3 me-3" [routerLink]="['/explore']" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">EXPLORA</a>
                    </li>
                    <li class="nav-item cust-nav-item" [routerLinkActive]="['active-border-bottom']"
                        [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link py-0 ms-3 me-3" [routerLink]="['/sustainability']" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">SOSTENABILITAT</a>
                    </li>
                    <li class="nav-item cust-nav-item cust-nav-item-4" [routerLinkActive]="['active-border-bottom']"
                        [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link py-0 ms-3 me-3" [routerLink]="['/about']" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">CONTACTE</a>
                    </li>
                </ul>

            </nav>

        </div> -->

    </div>

</header>

<app-map />

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                 <p class="cust-text mt-2"></p> <!-- &copy;  2024 Turisme Sostenible. Tots els drets reservats. -->
            </div>
            <div class="col text-end mt-2">
                <a class="cust-text" href="#"></a> | <a class="cust-text" href="#"></a> <!-- Política de privadesa  Condicions del servei -->
            </div>
        </div>
    </div>
</footer>
</div>