<header>

    <div class="container-fluid">

        <div class="row align-items-center">

            <nav class="navbar">

                <div class="col d-flex justify-content-start ms-3">
                    <a href="#" class="me-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="me-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="me-2"><i class="fab fa-youtube"></i></a>
                </div>

                <div class="col d-flex justify-content-center">
                    <a class="navbar-brand" [routerLink]="'/home'">
                        <h3>Sustainable Tourism</h3>
                        <img src="assets/img/logo5.png" alt="Sustainable Tourism" width="80">
                    </a>
                </div>

                <div class="col d-flex justify-content-end me-3">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item">
                            <a class="nav-link cust-nav-link py-0" href="#">LOG IN</a>
                        </li>
                        <div class="slash mx-2 my-auto">//</div>
                        <li class="nav-item">
                            <a class="nav-link cust-nav-link py-0" href="#">SIGN UP</a>
                        </li>
                    </ul>
                </div>

            </nav>

        </div>

        <div class="row">

            <nav class="navbar cust-navbar justify-content-center">
               
                <ul class="navbar-nav flex-row">
                    <li class="nav-item pe-4 cust-nav-item-1" [routerLinkActive]="['active-border-bottom']"
                    [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link py-0 ms-3" [routerLink]="['/home']"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                        >HOME</a>
                    </li>
                    <li class="nav-item cust-nav-item-2" [routerLinkActive]="['active-border-bottom']" 
                         [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link py-0 ms-3 me-3" [routerLink]="['/explore']"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" 
                        >EXPLORE</a>
                    </li>
                    <li class="nav-item cust-nav-item-2" [routerLinkActive]="['active-border-bottom']" 
                    [routerLinkActiveOptions]="{exact:true}">
                   <a class="nav-link py-0 ms-3 me-3" [routerLink]="['/sustainability']"
                   routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" 
                   >SUSTAINABILITY</a>
               </li>
               <li class="nav-item cust-nav-item-2" [routerLinkActive]="['active-border-bottom']" 
               [routerLinkActiveOptions]="{exact:true}">
              <a class="nav-link py-0 ms-3 me-3" [routerLink]="['/about']"
              routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" 
              >ABOUT</a>
          </li>
                </ul>

            </nav>

        </div>

    </div>

</header>

<app-map/>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>&copy; 2024 Sustainable Tourism. All rights reserved.</p>
            </div>
            <div class="col text-end">
                <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>
