
.container-fluid {
 background-color: #222120;
// color: #f1eeee;
}

// .navbar-brand {
//     background-color: transparent;
// }

header {
    background-color: #222120; 
    //padding: 2px;
}

.fab {
    color: #f1eeee;
    margin-top: 16px;
    transition: all 0.2s ease;
    font-size: 1.2rem;
}

.fab:hover {
   // color: #f1eeee;
    transform: scale(1.4);
}

.cust-nav-link {
  //  color: #f1eeee;;
    transition: all 0.2s ease;
}

.cust-nav-link:hover {
    transform: scale(1.2);
}

.nav-item {
    flex-wrap: wrap;
}

.slash {
 color: #f1eeee;
}

.cust-navbar {
    padding: 3px;
    border-top: 1px solid #4b4848;
    border-bottom: 1px solid #4b4848;
}
.cust-nav-item {
    padding: 6px;
    border-left: 1px solid #4b4848;
}

.cust-nav-item-4 {
    border-right: 1px solid #4b4848;
}

.nav-link {
   color: #f1eeee;
}

.cust-nav-item-2 {
  color: #f1eeee;
}

.nav-link:hover {
   color: #f1eeee;
}

.active {
   color: #f1eeee;

}
.nav-link.active {
   color: #f1eeee;
    font-weight: 550;
  }

.active-border-bottom {
    border-bottom: 2px solid blue;
}  

//----------------------------FOOTER--------------------------------------------


.footer a {
    color: #fff;               
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;   
}

.footer p {
    margin: 0;  
    color: #fff;                     
}

.footer {
    position: fixed;
   // bottom: 0;
    width: 100%;
  //  background-color: #F4D35E !important;
   // color: #f1eeee;
  //  padding: 10px 0;
    text-align: center;
  //  z-index: 1000;    
}

.cust-footer {
    background-color: #222120;
  //  color: #fff;    
}

.cust-text {
    color: #fff !important;
}


