#map {
  height: 500px;
  width: 100%;
}

.bg-english-green {
    background-color: #1B4D3E; /* This is English green, a deep green color */
  }

  .bg-english-green-light {
    background-color: #40826D; /* This is English green, a deep green color */
  }

.form-check-input:checked {
  background-color: #40826D;
  border-color: #40826D;
}